.element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;

  /* display: grid;
  background-color: #fff;
  border-radius: 10px;
  grid-template-rows: 282px 1fr;
  max-width: 100%;
  overflow: hidden;
  position: relative; */
}